<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-grid>
  <ion-button (click)="logout()" >logout</ion-button>
  <ion-button (click)="getuserDetail()" >User Detail</ion-button>
</ion-grid>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
